.text-preset-1 {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0;
}
.text-preset-2 {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 4.2rem;
  letter-spacing: 0;
}
.text-preset-3 {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0;
}
.text-preset-4 {
  font-family: 'Manrope';
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 2.025rem;
  letter-spacing: 0;
}
.text-preset-5 {
  font-family: 'Manrope';
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  letter-spacing: 0;
}