@font-face {
    font-family: 'Manrope';
    src: url('Manrope-ExtraLight.eot');
    src: local('Manrope ExtraLight'), local('Manrope-ExtraLight'),
        url('Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Manrope-ExtraLight.woff2') format('woff2'),
        url('Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces-9ptBlack.eot');
    src: local('Fraunces 9pt Black'), local('Fraunces-9ptBlack'),
        url('Fraunces-9ptBlack.eot?#iefix') format('embedded-opentype'),
        url('Fraunces-9ptBlack.woff2') format('woff2'),
        url('Fraunces-9ptBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

